{% extends 'core/base.html' %}

{% load static %}

{% block title %} Properties {% endblock %}

{% block additional_css %} <link rel="stylesheet" href="{% static 'core/css/properties.css' %}">{% endblock %}

{% block content %}

  <section class="breadcrumb-section">
    <div class="breadcrumb-container">
      <div class="breadcrumb-wrapper">
        <div class="breadcrumb-links">
          <a href="{% url 'core:home' %}" class="breadcrumb-link">Home</a>
          <span class="breadcrumb-divider">/</span>
          <span class="breadcrumb-current">Properties</span>
        </div>
        <div class="breadcrumb-title-wrap">
          <h1 class="breadcrumb-title">Our Properties</h1>
        </div>
      </div>
    </div>
  </section>
  {% include "partials/property_filter_form.html" %}

{% endblock %}

{% block additional_js %}<script src="{% static 'core/js/properties.js' %}"></script>{% endblock %}